.wcbe-pt0 {
    padding-top: 0 !important;
}

.wcbe-product-attribute-checkboxes {
    width: 100%;
    float: left;
    padding: 10px;
    background: #f6f6f6;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.wcbe-product-attribute-checkboxes label {
    float: left;
    margin-right: 15px;
}

.wcbe-variation-bulk-edit-individual-items select {
    width: 100%;
    max-width: 100% !important;
    height: 43px !important;
    margin-top: 15px;
}

#wcbe-variation-single-delete-items {
    width: 100%;
    float: left;
    border-top: 1px #dbdbdb solid;
    padding-top: 15px;
    margin-top: 15px;
}

#wcbe-variation-single-delete-items .wcbe-variation-bulk-edit-current-item {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

#wcbe-variation-single-delete-items .wcbe-variation-bulk-edit-current-item label {
    padding: 10px;
    background: #f6f6f6;
    float: left;
}

#wcbe-variations-attaching-product-variations,
#wcbe-variations-attaching-product-variations .wcbe-variation-bulk-edit-current-item {
    width: 100%;
    float: left;
}

#wcbe-variations-attaching-product-variations .wcbe-variation-bulk-edit-current-item div {
    float: left;
    padding: 0 20px;
    height: 43px;
    line-height: 43px;
    background-color: #f6f6f6;
    margin-bottom: 10px;
    border: 1px #e3e3e3 solid;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#wcbe-variations-attaching-product-variations .wcbe-variation-bulk-edit-current-item select {
    min-height: 34px !important;
    height: 34px !important;
    max-width: 200px !important;
    width: auto !important;
    float: none;
}

#wcbe-bulk-edit-select-all-variations-tools {
    display: none;
}

.wcbe-products-category-list li ul {
    padding-left: 20px;
}

.wcbe-form-group .select2-selection,
.wcbe-bulk-edit-form-group .select2-selection,
.wcbe-form-group .select2-container,
.wcbe-bulk-edit-form-group .select2-container {
    float: left;
}

.xdsoft_datetimepicker {
    z-index: 999999999 !important;
}

.wcbe-top-nav-status-filter ul li a.all {
    color: rgb(22, 99, 161)
}

.wcbe-top-nav-status-filter ul li a.publish {
    color: #80e045;
}

.wcbe-top-nav-status-filter ul li a.draft {
    color: #6ca9d6;
}

.wcbe-top-nav-status-filter ul li a.pending {
    color: #bf8e8e;
}

.wcbe-top-nav-status-filter ul li a.private {
    color: #ea4848;
}

.wcbe-top-nav-status-filter ul li a.trash {
    color: #808080;
}

.wcbe-top-nav-status-filter ul li a.pending.active {
    color: #f9b52f !important;
    border-bottom: 2px #f9b52f solid;
    font-weight: bold;
}

.wcbe-top-nav-status-filter ul li a.all.active {
    color: rgb(22, 99, 161) !important;
    border-bottom: 2px rgb(22, 99, 161) solid;
    font-weight: bold;
}

.wcbe-top-nav-status-filter ul li a.publish.active {
    color: #57ce0d !important;
    border-bottom: 2px #57ce0d solid;
    font-weight: bold;
}

.wcbe-top-nav-status-filter ul li a.draft.active {
    color: #53b0f5 !important;
    border-bottom: 2px #53b0f5 solid;
    font-weight: bold;
}

.wcbe-top-nav-status-filter ul li a.private.active {
    color: #d41010 !important;
    border-bottom: 2px #d41010 solid;
    font-weight: bold;
}

.wcbe-top-nav-status-filter ul li a.trash.active {
    color: #808080 !important;
    border-bottom: 2px #808080 solid;
    font-weight: bold;
}


/* Compatible with ithemeland badge */

.options_group {
    width: 100%;
    float: left;
    font-size: 10pt;
}

#it-woocommerce-advanced-product-labels-pro .form-field,
#it-woocommerce-advanced-product-labels-pro .unique-global-option {
    width: 94%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px 20px 5px 162px !important;
    line-height: 32px;
}

#it-woocommerce-advanced-product-labels-pro .wp-picker-holder {
    position: absolute;
    z-index: 10;
}

.options_group label,
.woocommerce_options_panel label,
.woocommerce_options_panel legend {
    float: left;
    margin-left: -150px;
}

.icon-picker-container {
    z-index: 99999999 !important;
}

#it-woocommerce-advanced-product-labels-pro div.button.icon-picker {
    width: 34px !important;
    height: 34px !important;
    line-height: 34px !important;
    font-size: 16px !important;
}

#it-woocommerce-advanced-product-labels-pro .unique-label.unique-alignleft {
    text-align: left;
}

#it-woocommerce-advanced-product-labels-pro .unique-label.unique-alignright {
    text-align: right;
}

#it-woocommerce-advanced-product-labels-pro .unique-label.unique-aligncenter {
    text-align: center;
}

.options_group span.custom_color_chose {
    width: 100%;
    float: left;
    line-height: 32px;
    margin-bottom: 5px;
}

.options_group input[type="range"],
.options_group input[type="text"],
.options_group input[type="number"],
.options_group select {
    margin-right: 1%;
    margin-bottom: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.options_group input[type="text"],
.options_group input[type="number"],
.options_group select {
    width: 38% !important;
    float: left;
}

.options_group input[type="range"] {
    width: 75% !important;
    display: inline-block;
    vertical-align: middle;
}

p.range-slider .range-item {
    float: left;
    width: 75%;
    height: 34px;
}

p.range-slider .range-item input {
    width: 87% !important;
}

.rotation_range .range-slider__value {
    font-size: 12px;
}

.itbd-hide-radio {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    width: 16.667%;
    margin-right: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.itbd-hide-radio:nth-of-type(6n) {
    margin-right: 0;
    clear: right;
}

.itbd-hide-radio:nth-of-type(6n + 1) {
    clear: left;
}

.itbd-hide-radio img,
.hide-radio label,
.itbd-existing-image-wrap .itbd-label-option-wrap>label {
    display: inline-block;
    float: none;
    width: 100%;
}

.itbd-hide-radio input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.itbd-hide-radio input[type=radio]+label {
    width: 100%;
    border: 3px solid #F1F1F1;
    padding: 10px;
    background-color: #eeeeee;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.itbd-hide-radio input[type=radio]:checked+label,
.itbd-hide-radio input[type=radio]:hover+label {
    border: 3px solid #CCC;
}

.it_hide {
    display: none;
}

.tab-content {
    padding: 10px;
    display: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tab-content.tab-content-active {
    display: block;
}

.it_column_setting {
    width: 64%;
    margin-right: 2%;
    float: left;
    border-right: 1px dashed #ddd;
    vertical-align: top;
    overflow: auto;
    height: 450px;
}

.it_column_preview {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 33%;
    margin: 0 auto;
    text-align: center;
    height: 500px;
}

.preview_titel {
    display: block;
    margin-right: 0;
    background-color: #eef1fd;
    margin-bottom: 40px !important;
    height: 60px;
    box-shadow: inset 0 3px 0 #172b4d !important;
    margin-top: 9px;
}

.preview_image {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    background: #ddd;
    box-sizing: border-box;
    z-index: 0;
    margin: 0 auto;
}

.label-wrap {
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
    line-height: 0;
}

#unique_settings input,
#unique_settings select {
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: 5px;
    transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
}

.unique-meta-box table tr td {
    padding: 5px 15px;
}

.custom-pos label {
    margin-top: 54px;
}

.radius_input {
    width: 75px !important;
}

small.desc_filed_tl {
    margin-left: 4% !important;
}

small.desc_filed_tr {
    margin-left: 6% !important;
}

small.desc_filed_br {
    margin-left: 5% !important;
}

small.desc_filed_bl {
    margin-left: 3% !important;
}

small.desc_filed_pt {
    margin-left: 6% !important;
}

small.desc_filed_pr {
    margin-left: 10% !important;
}

small.desc_filed_pb {
    margin-left: 9% !important;
}

small.desc_filed_pl {
    margin-left: 10% !important;
}

small.desc_filed_rz {
    margin-left: 18% !important;
}

small.desc_filed_ry {
    margin-left: 18% !important;
}

small.desc_filed_rx {
    margin-left: 6% !important;
}

small#unique_global_label_desc_filed {
    margin-left: 18px;
}

small {
    font-size: smaller;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 8px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 18px;
    color: #fff;
    line-height: 13px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 8px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 9px solid #2c3e50;
    border-bottom: 5px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.range-slider.rotation_range {
    display: inline-block;
}

.rotation_range .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 6px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.rotation_range .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.rotation_range .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.rotation_range .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.rotation_range .range-slider__range::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.rotation_range .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.rotation_range .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.rotation_range .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #1abc9c;
}

.rotation_range .range-slider__range {
    width: 65%;
}

.rotation_range .range-slider__value {
    display: inline-block;
    position: relative;
    width: 23px;
    color: #fff;
    line-height: 10px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 3px 2px;
    margin-left: 4px;
}

.rotation_range .range-slider__value:after {
    position: absolute;
    top: 4px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 9px solid #2c3e50;
    border-bottom: 5px solid transparent;
    content: '';
}

.custom_color_chose {
    display: block;
}

.custom_color_chose .wp-picker-container,
.custom_color_chose_b .wp-picker-container {
    display: inline-block;
}

.custom_color_chose .wp-picker-container label,
.custom_color_chose_b .wp-picker-container label {
    width: 70px;
}

.custom_color_chose .wp-picker-container .wp-picker-clear,
.custom_color_chose_b .wp-picker-container .wp-picker-clear {
    width: 70px;
}

.as-toggle-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.as-toggle-span-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 25px;
    height: 10px;
    background: grey;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    margin-bottom: 0px;
    margin: 0 !important;
    float: none !important;
}

.as-toggle-span-label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.as-toggle-checkbox:checked+.as-toggle-span-label {
    background: #2c3e50;
}

.as-toggle-checkbox:checked+.as-toggle-span-label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.as-toggle-checkbox:active:after {
    width: 8px;
}

.as-toggle-checkbox {
    position: absolute;
    margin-top: 5px;
}

.as-toggle-span-label {
    width: 25px !important;
}

.as-toggle-span {
    margin-right: 10px;
    font-size: 8px;
}

.unique-table-row {
    display: block;
}

#it-woocommerce-advanced-product-labels-pro .unique-alert {
    width: 94%;
    float: left;
    margin: 20px 3% 0 3% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.nav-tab-wrapper a:first-child {
    margin-left: 30px;
}

.fieldwrap hr {
    width: 100%;
    float: left;
}


/* Compatible with yikes custom product tabs */

.wcbe-yikes-tab-item {
    width: 100%;
    float: left;
    font-size: 10pt;
    margin-bottom: 10px;
}

.wcbe-yikes-tab-item-sort,
.wcbe-yikes-tab-item-remove,
.wcbe-yikes-tab-override {
    width: auto !important;
    float: right !important;
    height: 34px;
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.wcbe-yikes-tab-override {
    margin-right: 10px;
    line-height: 34px;
    font-size: 9pt;
    padding: 0 10px;
    background: #e4e4e4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.wcbe-yikes-tab-item-sort i,
.wcbe-yikes-tab-item-remove i {
    vertical-align: middle;
}

.wcbe-yikes-tab-item-sort {
    font-size: 17pt;
}

.wcbe-yikes-tab-item-remove {
    font-size: 16px;
}

.wcbe-yikes-tab-item-header {
    width: 100%;
    float: left;
    background: #f6f6f6;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wcbe-yikes-tab-item-header strong {
    font-size: 11pt;
}

.wcbe-yikes-tab-item-body {
    display: none;
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wcbe-yikes-tab-item .wcbe-yikes-tab-title,
.wcbe-yikes-tab-item .wcbe-yikes-tab-content {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.wcbe-yikes-tab-item input[type="text"],
.wcbe-yikes-tab-item textarea,
.wcbe-yikes-tab-item label {
    width: 100%;
    float: left;
}

.wcbe-modal-yikes-buttons {
    width: 100%;
    float: left;
    margin: 10px 0;
}

.wcbe-yikes-saved-tabs {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 99999999999;
    background: rgba(0, 0, 0, 0.8);
}

.wcbe-yikes-saved-tabs-box {
    width: 350px;
    height: 150px;
    overflow: auto;
    position: absolute;
    top: 100px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.wcbe-yikes-saved-tabs .wcbe-yikes-saved-tabs-header {
    width: 100%;
    float: left;
    height: 40px;
    position: relative;
    line-height: 40px;
    font-size: 11pt;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wcbe-yikes-saved-tabs .wcbe-yikes-saved-tabs-header button {
    float: right;
    font-size: 12pt;
    border: none;
    background: none;
    height: 40px;
    cursor: pointer;
}

.wcbe-yikes-saved-tabs .wcbe-yikes-saved-tabs-header button i {
    vertical-align: middle;
}

.wcbe-yikes-saved-tabs .wcbe-yikes-saved-tabs-header hr {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.wcbe-yikes-saved-tabs ul {
    width: 100%;
    float: left;
    height: 110px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wcbe-yikes-saved-tabs ul li {
    width: 100%;
    float: left;
    line-height: 28px;
    font-size: 11pt;
    margin-bottom: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wcbe-yikes-saved-tabs ul li:hover {
    background: #f6f6f6;
}

.wcbe-yikes-saved-tabs ul li button {
    float: right;
    border: 0;
    cursor: pointer;
    background: none;
    height: 24px;
}

.wcbe-yikes-saved-tabs ul li button i {
    font-size: 15px;
    vertical-align: none !important;
    font-weight: bold;
    color: #000;
}

#wcbe-modal-select-files .wcbe-modal-body {
    min-height: 300px;
}

#wcbe-modal-custom-field-files .wcbe-modal-body {
    min-height: 300px;
}

.wcbe-ithemeland-badge-button {
    min-width: 160px;
}

#wcbe-modal-yikes-custom-product-tabs .wcbe-modal-body {
    min-height: 350px;
}

#wcbe-modal-it-wc-dynamic-pricing-all-fields .wcbe-form-group label {
    width: 100%;
}

.wcbe-load-text-editor {
    padding: 0 5px !important;
}

.wcbe-load-text-editor i {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.wcbe-bulk-edit-show-variations-button.selected,
.wcbe-bulk-edit-select-all-variations-button.selected {
    background-color: #28a745 !important;
    color: #fff !important;
}

.wcbe-bulk-edit-show-variations-button.selected i,
.wcbe-bulk-edit-select-all-variations-button.selected i {
    color: #fff !important;
}

.wcbe-bulk-edit-custom-field-files {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-custom-field-file-item {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-file-url,
.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-choose-file,
.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-file-name {
    float: left !important;
    margin-right: 4px !important;
}

.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-custom-field-file-remove-item {
    float: left !important;
}

.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-file-name {
    width: 20% !important;
}

.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-file-url {
    width: 50% !important;
}

.wcbe-bulk-edit-custom-field-files .wcbe-bulk-edit-custom-field-files-sortable-btn {
    float: left;
}

.wcbe-files-loading {
    display: none;
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.wcbe-products-table-load-more-variations {
    border: 0;
    background: none;
    color: #444;
    cursor: pointer;
}

.wcbe-products-table-load-more-variations-row {
    background: #e1dfd4 !important;
}

.wcbe-products-table-load-more-variations-loading {
    display: none;
    vertical-align: middle;
}

#wcbe-modal-regular-price .wcbe-wrap select,
#wcbe-modal-regular-price .wcbe-wrap input,
#wcbe-modal-sale-price .wcbe-wrap select,
#wcbe-modal-sale-price .wcbe-wrap input {
    display: inline-block;
    vertical-align: middle;
}

.wcbe-modal-select-author-loading {
    display: inline-block;
    vertical-align: middle;
}

.wcbe-modal-select-author-label {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.wcbe-modal-product-taxonomy-loading {
    display: none;
    width: 18px;
    height: auto;
}

.wcbe-modal-product-taxonomy-terms-list,
.wcbe-modal-product-attribute-terms-list {
    width: 100%;
    float: left;
}

.wcbe-modal-product-taxonomy-terms-list label,
.wcbe-modal-product-attribute-terms-list label {
    width: 100%;
    line-height: 34px;
    float: left;
}

.wcbe-modal-acf-taxonomy-loading {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.wcbe-product-attribute-items-loading {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.wcbe-variation-bulk-edit-left,
.wcbe-variation-bulk-edit-right {
    width: 48%;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-top: 20px;
    border: 1px #dbdbdb solid;
}

.wcbe-variation-bulk-edit-left {
    float: left;
    margin-bottom: 30px;
}

.wcbe-variation-bulk-edit-product-variations {
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px #dbdbdb solid;
}

.wcbe-variation-bulk-edit-product-variations label {
    width: 100%;
    float: left;
    font-size: 12pt;
    margin-bottom: 15px;
}

.wcbe-variation-bulk-edit-product-variations select,
.wcbe-variation-bulk-edit-product-variations input {
    float: left;
    min-height: 43px;
}

.wcbe-variation-bulk-edit-product-variations input {
    max-width: 400px;
}

.wcbe-variation-bulk-edit-product-variations .select2-selection,
.wcbe-variation-bulk-edit-product-variations .select2-container {
    width: 100% !important;
    min-height: 43px;
}

.wcbe-variation-bulk-edit-right {
    float: right;
}

.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-right-title,
.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-right-footer {
    width: 100%;
    float: left;
    font-size: 12pt;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-right-title {
    border-bottom: 1px #dbdbdb solid;
    padding: 20px;
}

.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-right-footer {
    padding: 15px 20px;
}

.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-current-item {
    width: 100%;
    min-height: 60px;
    float: left;
    background: #fff;
    border-bottom: 1px #dbdbdb solid;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 60px;
}

.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-current-item-name {
    width: 84%;
    float: left;
    font-size: 11pt;
}

.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-current-item-radio {
    float: right;
    margin-right: 10px;
}

.wcbe-variation-bulk-edit-right .wcbe-variation-bulk-edit-current-item-sortable-btn {
    float: right;
    margin: 13px 0;
}

.wcbe-variation-bulk-edit-attributes {
    border-bottom: 1px #dbdbdb solid;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    float: left;
}

.wcbe-variation-bulk-edit-attributes .wcbe-variation-bulk-edit-attributes-title {
    line-height: 60px;
    width: 100%;
    float: left;
}

.wcbe-variation-bulk-edit-attributes .wcbe-variation-bulk-edit-attribute-item {
    width: 100%;
    min-height: 43px;
    float: left;
    margin-bottom: 20px;
}

.wcbe-variation-bulk-edit-attributes .wcbe-variation-bulk-edit-attribute-item label {
    width: 25%;
    float: left;
    line-height: 43px;
}

.wcbe-variation-bulk-edit-attributes .wcbe-variation-bulk-edit-attribute-item select {
    height: 43px;
    float: left;
}

.wcbe-variation-bulk-edit-attributes .wcbe-variation-bulk-edit-attribute-item .select2-selection {
    width: 100% !important;
    min-height: 43px;
}

.wcbe-variation-bulk-edit-attributes .wcbe-variation-bulk-edit-attribute-item .select2-container {
    width: 70% !important;
}

.wcbe-variation-bulk-edit-create {
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wcbe-variation-bulk-edit-create .wcbe-variation-bulk-edit-create-mode label {
    width: 50%;
    float: left;
    text-align: left;
}

.wcbe-variation-bulk-edit-create .wcbe-variation-bulk-edit-manual-variation-items {
    width: 100%;
    float: left;
}

.wcbe-variation-bulk-edit-create .wcbe-variation-bulk-edit-manual-variation-items select {
    width: 100%;
    max-width: 100% !important;
    height: 43px !important;
    float: left;
    margin-top: 20px;
}

.wcbe-variation-bulk-edit-individual-items select {
    width: 100%;
    max-width: 100% !important;
    height: 43px !important;
    margin-top: 15px;
}

#wcbe-variation-single-delete-items {
    width: 100%;
    float: left;
    border-top: 1px #dbdbdb solid;
    padding-top: 15px;
    margin-top: 15px;
}

#wcbe-variation-single-delete-items .wcbe-variation-bulk-edit-current-item {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

#wcbe-variation-single-delete-items .wcbe-variation-bulk-edit-current-item label {
    padding: 10px;
    background: #f6f6f6;
    float: left;
}

#wcbe-variations-attaching-product-variations,
#wcbe-variations-attaching-product-variations .wcbe-variation-bulk-edit-current-item {
    width: 100%;
    float: left;
}

#wcbe-variations-attaching-product-variations .wcbe-variation-bulk-edit-current-item div {
    float: left;
    padding: 0 20px;
    height: 43px;
    line-height: 43px;
    background-color: #f6f6f6;
    margin-bottom: 10px;
    border: 1px #e3e3e3 solid;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#wcbe-variations-attaching-product-variations .wcbe-variation-bulk-edit-current-item select {
    min-height: 34px !important;
    height: 34px !important;
    max-width: 200px !important;
    width: auto !important;
    float: none;
}

#wcbe-bulk-edit-select-all-variations-tools {
    display: none;
}

.wcbe-variations-bulk-edit-set-variation .wcbe-variation-bulk-edit-loading {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 9999999;
}

.wcbe-variations-bulk-edit-set-variation .wcbe-variation-bulk-edit-loading p {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 36px;
    line-height: 36px;
    position: absolute;
    font-size: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
}